# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/LicenseServer.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

logfiles
logfiles/**

/web/
/web/**
/web/html/
/web/html/**
/web/resources/
/web/resources/**
